.loader {
  position: absolute;
  top: 40%;
  left: 47%;
}

.login {
  margin-top: 70px;
  margin-bottom: 70px;
}
.btn-extended {
  display: block;
  width: 80%;
  margin: auto;
  margin-top: 20px;
}
